/*body format*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6a93ba;
}
/*h1 format*/
h1 {
    text-align: center;
    color: #0070c0;
}
/*h2 format*/
h2 {
    text-align: center;
    color: #0070c0;
    margin-bottom: 30px;
}
/*h3 format*/
h3 {
    text-align: center;
    color: #7f7f7f;
    margin-bottom: 30px;
}
/*header row format*/
.header-row {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 90px;
    color: grey;
    margin-right: 140px;
    margin-left: 50px;
    white-space: nowrap;
    font-size: 15px;
    margin-top: 21px;
}
/*sign in link format*/
.sign-in-link {
    color: grey;
    display: flex;
    gap: 5px;
}
/*remember container format*/
.remember-container{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row;
    font-weight: bold;
    margin-left: 50px;
    white-space: nowrap;
}
/*canvas format*/
canvas {
    position: fixed;
    inset: 0;
    z-index: 0;
}
/*sign up screen format*/
#sign-up-screen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
/*input format*/
input {
    margin-left: 23%;
    border: none;
    outline: 1px solid lightgrey;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50%;
}
/*sign up button format*/
.sign-up-button{
    background-color: #0070c0;
    color: white;
    padding: 15px;
    width: 100px;
    border-color: #0070c0;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}
/*sign up button hover format*/
.sign-up-button:hover{
    background-color: white;
    color: #0070c0;
    font-weight: bold;
    padding: 15px;
}
/*button container format*/
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}